html {
	font-size: 100.01%;
	font-family: sans-serif;
	background: #181b1f;
}

#header {
	height: 70px;
	width: 960px;
	color: white;
	margin: 0 auto;
	position: relative;
}

#header * {
	font-size: 16px;
	line-height: 24px;
}

#header a:active,
#header a:hover,
#header a:link,
#header a:visited {
	color: white;
	text-decoration: none;
}

#header > * {
	width: 290px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 7.5px 0;
	height: 45px;
}

#header > div {
	background: #2e3436;
	padding: 2.5px;
	-moz-border-radius: 7px;
}

#header h1 {
	font-size: 13px;
	line-height: 19px;
	padding: 8px 0;
	width: 50px;
}

#header #information {
	left: 60px;
}

#header #information img {
	width: 25px;
	height: 25px;
	display: inline;
	padding: 12px 20px;
}

#header #information h2,
#header #information div.description {
	position: absolute;
	left: 70px;
	top: 0;
	padding: 8px 0;
}

#header #information div.description {
	top: 16px;
	font-size: 12px;
	font-style: italic;
}

#header #information input {
	position: absolute;
	left: 55px;
	top: 13px;
}

#header #current-resource {
	left: 360px;
	width: 360px;
}

#header #current-resource h3 {
	margin: 8.5px 0;
	background: #0e1314;
	height: 28px;
	padding-left: 40px;
	line-height: 28px;
}

#header #resources {
	left: 360px;
	width: 0;
	height: 0;
	background: none;
}

#header #resources span {
	display: none;
}

#header #resources ul {
	background: url('../images/drop-down.png') no-repeat 13px 0;
	/*width: 32px;*/
	width: 360px;
	height: 20px;
	position: absolute;
	top: 19px;
	left: 2.5px;
}

#header #resources ul li {
	display: none;
	padding: 6px 0 6px 40px;
	background: #0e1314;
	width: 320px;
}

#header #resources ul li:first-child {
	margin-top: 20px;
}

#header #resources ul:hover li {
	display: block;
}

#header #resources ul li:hover {
	background: #333;
}

#header #resources ul li a {
	font-size: 12px;
}

#header #resources .main {
	font-weight: bold;
}

#header #actions {
	left: 730px;
	width: 220px;
}

#header #actions ul {
	text-align: center;
	padding: 9px 0;
}

#header #actions li {
	display: inline;
}

#header #actions a {
	background: #0e1314;
	padding: 8px 10px;
}

#header #actions a:hover {
	background: #1c2628;
}

#main {
	clear: both;
}

#main pre {
	background: white;
	padding: 1%;
}

#main textarea {
	width: 100%;
	border: none;
}
