html {
	font-size: 100.01%;
	font-family: sans-serif;
}

body {
	/*font-size: 90%;*/
}

#header input[type="text"] {
	width: 50%;
}

#header a, #header a:visited,
#header a:hover, #header a:active {
	text-decoration: none;
	color: #e1e2e3;
}

#header a:hover, #header a:active {
	border-bottom: 1px solid #e1e2e3;
}




#header {
	width: 100%;
	background: #2e3436;
	height: 80px;
}

#header > * {
	background: #383c3e;
	float: left;
	width: 10%;
	height: 50px;
	margin: 1%;
}

#header h1 {
	width: 140px;
	height: 50px;
	color: #e1e2e3;
	font-size: 140%;
	background: none;
}

#header #information {
	width: 30%;
	position: relative;
}

#header #information img {
	height: 50px;
	margin: 0 20px;
}

#header #information input {
	position: absolute;
	left: 90px;
}

#header #information input.description {
	top: 25px;
}

#header #current-resource {
	width: 30%;
	text-align: center;
	position: relative;
}

#header #current-resource label {
	color: #e1e2e3;
	font-size: 84%;
}

#header #current-resource input[type="text"] {
	display: block;
	margin: 0 auto 5px auto;
}

#header #current-resource input.delete {
	background: url('../images/delete.png') no-repeat right #383c3e;
	border: none;
	color: #383c3e;
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	padding: 0 20px 0 0;
	margin: 3px;
	font-size: 76%;
}

#header #current-resource input.delete:hover {
	color: red;
	cursor: pointer;
}

#header #resources {
	position: relative;
	background: none;
	height: 20px;
	top: 15px;
}


#header #resources > * {
	background: #18191a;
	color: #e1e2e3;
	font-size: 85%;
	width: 100%;
	display: block;
}

#header #resources span {
	background: url('../images/drop.png') right no-repeat #18191a;
	padding: 5px;
}

#header #resources ul {
	display: none;
}

#header #resources span:hover + ul,
#header #resources span + ul:hover {
	display: block;
	position: absolute;
	width: 100%;
}

#header #resources ul li {
	padding: 5px;
	font-size: 80%;
	background: #18191a;
	width: 100%;
	display: block;
}

#header #resources ul li:hover,
#header #resources ul li:hover a {
	background: #60676b;
	border: none;
}

#header #actions {
	width: 10%;
}

#header #actions ul {
	text-align: center;
	margin-top: 10px;
	height: 30px;
}

#header #actions li {
	display: inline;
}






#main textarea {
	width: 100%;
	border: none;
}
