@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 17, ../src/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 21, ../src/_defaults.scss */
.serif {
  font-family: Cambria, Georgia, serif;
}

/* line 24, ../src/_defaults.scss */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 27, ../src/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 30, ../src/_defaults.scss */
.caps, .allcaps, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 33, ../src/_defaults.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 37, ../src/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* Headings -------------------------------------------------------------- */
/* line 52, ../src/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 55, ../src/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 59, ../src/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 62, ../src/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* Inline -------------------------------------------------------------- */
/* line 68, ../src/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 71, ../src/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* Block -------------------------------------------------------------- */
/* line 79, ../src/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 82, ../src/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* Forms -------------------------------------------------------------- */
/*fieldset {
  @include trailer;
  @include rhythm-borders(1px); }

legend {
  @include adjust-font-size-to(18px);
  font-weight: bold; }*/
/* line 99, ../src/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 102, ../src/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 105, ../src/_defaults.scss */
label {
  font-weight: bold;
}

/* line 110, ../src/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
}

/* line 122, ../src/_defaults.scss */
textarea {
  vertical-align: text-bottom;
}

/* line 133, ../src/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 135, ../src/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 138, ../src/_defaults.scss */
button {
  width: auto;
  overflow: visible;
  border: 0;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, ../src/print.scss */
nav {
  display: none;
}

/* line 16, ../src/print.scss */
* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 22, ../src/print.scss */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 29, ../src/print.scss */
a:link, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}
/* line 32, ../src/print.scss */
a:after {
  content: " (" attr(href) ") ";
  font-size: smaller;
}

/* line 36, ../src/print.scss */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 40, ../src/print.scss */
pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

/* line 46, ../src/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 50, ../src/print.scss */
h2, h3 {
  page-break-after: avoid;
}
