@charset "UTF-8";
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 108, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 17, ../src/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 21, ../src/_defaults.scss */
.serif, #header form p.tagline, #index #logo p.tagline {
  font-family: Cambria, Georgia, serif;
}

/* line 24, ../src/_defaults.scss */
.sans, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 27, ../src/_defaults.scss */
.mono, pre, code, tt, .message ul {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 30, ../src/_defaults.scss */
.caps, .allcaps, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 33, ../src/_defaults.scss */
.allcaps {
  text-transform: uppercase;
}

/* line 37, ../src/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* Headings -------------------------------------------------------------- */
/* line 52, ../src/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 55, ../src/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 59, ../src/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 62, ../src/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* Inline -------------------------------------------------------------- */
/* line 68, ../src/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 71, ../src/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* Block -------------------------------------------------------------- */
/* line 79, ../src/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 82, ../src/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* Forms -------------------------------------------------------------- */
/*fieldset {
  @include trailer;
  @include rhythm-borders(1px); }

legend {
  @include adjust-font-size-to(18px);
  font-weight: bold; }*/
/* line 99, ../src/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 102, ../src/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 105, ../src/_defaults.scss */
label {
  font-weight: bold;
}

/* line 110, ../src/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
}

/* line 122, ../src/_defaults.scss */
textarea {
  vertical-align: text-bottom;
}

/* line 133, ../src/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 135, ../src/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 138, ../src/_defaults.scss */
button {
  width: auto;
  overflow: visible;
  border: 0;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../../../var/lib/gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../../../var/lib/gems/1.8/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 21, ../src/screen.scss */
.action, h2 + p > a, h2 + p > button, h3 + p > a, h3 + p > button, #snip-info p.process a, #resource a.new {
  border-bottom: 1px dotted #ff7922;
}
/* line 24, ../src/screen.scss */
.action:hover, h2 + p > a:hover, h2 + p > button:hover, h3 + p > a:hover, h3 + p > button:hover, #snip-info p.process a:hover, #resource a.new:hover {
  border-bottom-color: #181b1f;
}

/* line 31, ../src/screen.scss */
.normalize-link a:link, h2 a:link, h3 a:link, #header form h1 a:link, #header form ul#nav li a:link, #index #logo h1 a:link, .normalize-link a:visited, h2 a:visited, h3 a:visited, #header form h1 a:visited, #header form ul#nav li a:visited, #index #logo h1 a:visited, .normalize-link a:active, h2 a:active, h3 a:active, #header form h1 a:active, #header form ul#nav li a:active, #index #logo h1 a:active {
  color: #f7f7f7;
  border: 0;
}

/* line 41, ../src/screen.scss */
body {
  background: #181b1f;
  color: #f7f7f7;
  font-family: 'Droid Sans', sans;
}

/* line 49, ../src/screen.scss */
a:link, a:visited, a:active {
  color: #ffd02e;
  text-decoration: none;
}
/* line 55, ../src/screen.scss */
a:hover {
  border-bottom: 1px solid;
}

/* line 61, ../src/screen.scss */
h2, h3 {
  font-size: 1.125em;
  line-height: 1.333em;
  display: inline;
  font-weight: bold;
}
/* line 67, ../src/screen.scss */
h2 + p > a, h2 + p > button, h3 + p > a, h3 + p > button {
  font-size: 0.75em;
  line-height: 2em;
  background: none;
  color: #ffd02e;
  padding: 0;
}

/* line 76, ../src/screen.scss */
fieldset {
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 1.5em;
  border: 0;
}
/* line 81, ../src/screen.scss */
fieldset legend {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;
}
/* line 89, ../src/screen.scss */
fieldset input[type='text'], fieldset textarea, fieldset label {
  font-size: 0.857em;
  line-height: 2em;
}
/* line 93, ../src/screen.scss */
fieldset ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
  line-height: 2.5em;
}
/* line 57, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
fieldset ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
fieldset ul li:first-child, fieldset ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
fieldset ul li:last-child, fieldset ul li.last {
  padding-right: 0;
}
/* line 99, ../src/screen.scss */
fieldset a {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 104, ../src/screen.scss */
body > form {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  margin-top: 1.5em;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 109, ../src/screen.scss */
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-color: #555;
}

/* line 116, ../src/screen.scss */
input[type='submit'] {
  font-size: 0.875em;
  line-height: 1.714em;
  background: #222;
  color: #f7f7f7;
}
/* line 121, ../src/screen.scss */
input[type='submit']:hover {
  background: #333;
}

/* line 126, ../src/screen.scss */
acronym {
  border-bottom: 1px dotted;
  font-style: normal;
  cursor: help;
}

/* line 133, ../src/screen.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 142, ../src/screen.scss */
#header {
  width: 100%;
  background: #020202;
}
/* line 146, ../src/screen.scss */
#header form {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  padding: 0.5em 0;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 150, ../src/screen.scss */
#header form h1 {
  display: inline;
  float: left;
  width: 14.754%;
  margin-right: 1.639%;
  margin: 0;
  margin-left: 1.639%;
  font-family: 'Lobster', serif;
}
/* line 158, ../src/screen.scss */
#header form h1 span {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 163, ../src/screen.scss */
#header form p {
  margin: 0;
}
/* line 167, ../src/screen.scss */
#header form p.tagline {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  font-size: 0.833em;
  line-height: 2.4em;
  margin-left: 1.639%;
  font-style: italic;
}
/* line 174, ../src/screen.scss */
#header form p.tagline acronym {
  font-size: 0.8em;
  line-height: 3em;
}
/* line 179, ../src/screen.scss */
#header form ul#nav {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  font-size: 0.833em;
  line-height: 2.4em;
  text-align: right;
}
/* line 184, ../src/screen.scss */
#header form ul#nav li {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  display: inline;
}
/* line 189, ../src/screen.scss */
#header form ul#nav li a:hover {
  border-bottom: 1px solid;
}
/* line 193, ../src/screen.scss */
#header form ul#nav li a span {
  font-weight: bold;
  color: #ff7922;
}
/* line 198, ../src/screen.scss */
#header form ul#nav li.help {
  font-weight: bold;
}
/* line 201, ../src/screen.scss */
#header form ul#nav li.help a:hover {
  border-style: dotted;
}
/* line 206, ../src/screen.scss */
#header form ul#nav li.current {
  border-bottom: 1px solid;
}
/* line 212, ../src/screen.scss */
#header form p.create {
  display: inline;
  float: left;
  width: 14.754%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  text-align: right;
}
/* line 217, ../src/screen.scss */
#header form p.create input[type='submit'] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  background: #ff6400;
}
/* line 222, ../src/screen.scss */
#header form p.create input[type='submit']:hover {
  background: #ff7922;
}

/* line 233, ../src/screen.scss */
#snip-info {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 237, ../src/screen.scss */
#snip-info h2 {
  font-size: 1em;
  line-height: 1.5em;
  display: inline;
  float: left;
  width: 79.167%;
  margin-right: 4.167%;
  margin: 0;
}
/* line 243, ../src/screen.scss */
#snip-info p.actions {
  padding-left: 83.333%;
  text-align: right;
  margin: 0;
}
/* line 249, ../src/screen.scss */
#snip-info .description {
  font-size: 0.75em;
  line-height: 2em;
  margin-bottom: 0.75em;
}
/* line 254, ../src/screen.scss */
#snip-info .author {
  font-size: 0.75em;
  line-height: 2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background: #272c32;
  display: none;
}
/* line 263, ../src/screen.scss */
#snip-info p.process {
  padding-left: 83.333%;
  text-align: right;
}
/* line 272, ../src/screen.scss */
#snip-info fieldset {
  margin: 0;
}

/* line 282, ../src/screen.scss */
#resource {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  padding-left: 8.197%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 287, ../src/screen.scss */
#resource p {
  display: none;
}
/* line 291, ../src/screen.scss */
#resource > ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 0.875em;
  line-height: 1.714em;
}
/* line 57, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#resource > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#resource > ul li:first-child, #resource > ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#resource > ul li:last-child, #resource > ul li.last {
  padding-right: 0;
}
/* line 295, ../src/screen.scss */
#resource > ul li {
  padding-left: 0;
}
/* line 299, ../src/screen.scss */
#resource > ul li:before {
  content: '-';
}
/* line 304, ../src/screen.scss */
#resource > ul li:first-child:before,
#resource > ul li:last-child:before {
  content: '';
}
/* line 308, ../src/screen.scss */
#resource > ul li:last-child {
  margin-left: 0.625em;
}
/* line 313, ../src/screen.scss */
#resource > fieldset + p + ul {
  line-height: 2.5em;
}
/* line 323, ../src/screen.scss */
#resource fieldset > ul.invert li:first-child {
  padding-left: 4px;
  padding-right: 0;
  float: right;
}
/* line 329, ../src/screen.scss */
#resource fieldset > ul.invert li:last-child {
  padding-right: 4px;
  float: left;
}

/* line 342, ../src/screen.scss */
.message {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
  font-size: 0.875em;
  line-height: 1.714em;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}
/* line 351, ../src/screen.scss */
.message p {
  margin: 0;
  margin-top: 1.5em;
}
/* line 356, ../src/screen.scss */
.message ul {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  font-weight: normal;
  text-align: left;
  background: #f7f7f7;
  color: #181b1f;
  padding: 5px;
}

/* line 368, ../src/screen.scss */
.success {
  background: #98cda1;
  color: #2f6239;
}

/* line 374, ../src/screen.scss */
.error {
  background: #be3a3a;
}

/* line 382, ../src/screen.scss */
#main .message {
  margin-bottom: 1.5em;
}

/* line 391, ../src/screen.scss */
#main {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
}
/* line 396, ../src/screen.scss */
#main label {
  display: none;
}
/* line 400, ../src/screen.scss */
#main pre {
  font-size: 0.875em;
  line-height: 1.714em;
  text-align: start;
  white-space: pre;
  overflow: auto;
  margin: 1.5em 0;
  padding: 0 1.5em;
}
/* line 409, ../src/screen.scss */
#main .source {
  margin-bottom: 1.5em;
  border: 1px solid #303335;
  background: #111315;
  font-size: 0.75em;
}
/* line 416, ../src/screen.scss */
#main.split > div {
  text-align: center;
}
/* line 418, ../src/screen.scss */
#main.split > div .source {
  overflow: auto;
  max-height: 22.5em;
  margin-top: 0.45em;
  margin-bottom: 3em;
}
/* line 426, ../src/screen.scss */
#main .CodeMirror-wrapping {
  margin-bottom: 1.5em;
}
/* line 429, ../src/screen.scss */
#main .CodeMirror-wrapping iframe {
  background: #f7f7f7;
}
/* line 433, ../src/screen.scss */
#main .CodeMirror-wrapping .CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  padding-right: .3em;
  font-size: 10pt;
  font-family: monospace;
  padding-top: .4em;
  line-height: normal;
}

/* INDEX */
/* line 459, ../src/screen.scss */
#index #header #nav {
  padding-left: 40.984%;
  margin-left: 1.639%;
}

/* line 466, ../src/screen.scss */
#index #logo {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  margin-top: 1.5em;
  margin-bottom: 3em;
  text-align: center;
  position: relative;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#index #logo:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 473, ../src/screen.scss */
#index #logo h1, #index #logo p.tagline {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  padding-left: 40.984%;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
}
/* line 482, ../src/screen.scss */
#index #logo h1 {
  font-family: 'Lobster', serif;
  font-size: 2.25em;
  line-height: 1.333em;
}
/* line 488, ../src/screen.scss */
#index #logo p.tagline {
  font-style: italic;
}
/* line 493, ../src/screen.scss */
#index #logo acronym {
  font-size: 0.75em;
}
/* line 497, ../src/screen.scss */
#index #logo img {
  position: absolute;
  left: 20%;
  top: -50px;
}

/* line 506, ../src/screen.scss */
#index #use-case {
  background: #ffd02e;
  color: #000;
  border-top: 1px solid #ffeba5;
}
/* line 513, ../src/screen.scss */
#index #use-case ul {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  padding: 0.5em 0;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#index #use-case ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 518, ../src/screen.scss */
#index #use-case li {
  display: inline;
  float: left;
  width: 31.148%;
  margin-right: 1.639%;
}
/* line 521, ../src/screen.scss */
#index #use-case li:first-child {
  margin-left: 1.639%;
}
/* line 525, ../src/screen.scss */
#index #use-case li:last-child {
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 530, ../src/screen.scss */
#index #use-case dt {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-top: 0.45em;
  margin-bottom: 0.15em;
}
/* line 535, ../src/screen.scss */
#index #use-case dt span > span {
  font-weight: bold;
}
/* line 539, ../src/screen.scss */
#index #use-case dt span {
  margin: 0;
  cursor: default;
}
/* line 544, ../src/screen.scss */
#index #use-case dt > span:last-child {
  display: none;
}
/* line 549, ../src/screen.scss */
#index #use-case dt:hover > span:first-child {
  display: none;
}
/* line 553, ../src/screen.scss */
#index #use-case dt:hover > span:last-child {
  display: inline;
}
/* line 559, ../src/screen.scss */
#index #use-case dd {
  font-size: 0.875em;
  line-height: 1.714em;
  color: #333;
}
/* line 565, ../src/screen.scss */
#index #use-case sup {
  text-transform: uppercase;
  font-size: 0.625em;
  line-height: 2.4em;
}

/* line 573, ../src/screen.scss */
#index #paste-now {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2.25em;
  line-height: 1.333em;
  text-align: center;
  font-weight: 400;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#index #paste-now:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 581, ../src/screen.scss */
#index #paste-now form {
  margin: 0;
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 586, ../src/screen.scss */
#index #paste-now input {
  font-size: 1em;
  line-height: 1.5em;
  color: #ff6400;
  border: 0;
  padding: 0;
  background: none;
}
/* line 594, ../src/screen.scss */
#index #paste-now input:hover {
  color: #ff7922;
}
/* line 600, ../src/screen.scss */
#index #paste-now p {
  margin: 0;
}

/* SNIPPET LIST */
/* line 615, ../src/screen.scss */
#content {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  /*tbody tr:hover {
  	background: #454e58;
  }*/
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 620, ../src/screen.scss */
#content h2 {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  font-size: 1.563em;
  line-height: 1.92em;
}
/* line 624, ../src/screen.scss */
#content h2 + a {
  font-size: 0.88em;
  line-height: 1.091em;
  color: #ff7922;
}
/* line 628, ../src/screen.scss */
#content h2 + a:hover {
  border-bottom: 1px dashed;
}
/* line 634, ../src/screen.scss */
#content table {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
  width: 100%;
  color: #e6e6e6;
}
/* line 641, ../src/screen.scss */
#content th {
  font-size: 0.875em;
  line-height: 1.714em;
  padding-bottom: 0.3em;
  font-weight: bold;
}
/* line 647, ../src/screen.scss */
#content tbody {
  font-size: 0.875em;
  line-height: 1.714em;
  -moz-box-shadow: #111315 2px 3px 5px 0;
  -webkit-box-shadow: #111315 2px 3px 5px 0;
  -o-box-shadow: #111315 2px 3px 5px 0;
  box-shadow: #111315 2px 3px 5px 0;
}
/* line 652, ../src/screen.scss */
#content td {
  padding: 0.7em;
}
/* line 656, ../src/screen.scss */
#content td.description {
  font-size: 0.857em;
  line-height: 2em;
}
/* line 660, ../src/screen.scss */
#content td.date {
  font-size: 0.714em;
  line-height: 2.4em;
}
/* line 664, ../src/screen.scss */
#content tbody tr {
  background: #202428;
}
/* line 667, ../src/screen.scss */
#content tbody tr:first-child td {
  border-top: 1px solid #303335;
}
/* line 672, ../src/screen.scss */
#content tbody tr:nth-child(2n+1) {
  background: #111315;
}
/* line 675, ../src/screen.scss */
#content tbody tr:nth-child(2n+1) td {
  border-bottom: 1px solid #303335;
}
/* line 686, ../src/screen.scss */
#content ul.pagination {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
  font-size: 0.875em;
  line-height: 1.714em;
  text-align: center;
}
/* line 692, ../src/screen.scss */
#content ul.pagination li {
  display: inline;
  padding: 0.188em;
}
/* line 697, ../src/screen.scss */
#content ul.pagination li.disabled {
  display: none;
}
/* line 701, ../src/screen.scss */
#content ul.pagination li.selected a {
  color: #f7f7f7;
  font-weight: bold;
}
/* line 708, ../src/screen.scss */
#content h5, #content dl {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
}
/* line 713, ../src/screen.scss */
#content h5 {
  color: #e6e6e6;
  display: none;
}
/* line 718, ../src/screen.scss */
#content dt, #content dd {
  font-size: 0.875em;
  line-height: 1.714em;
}
/* line 722, ../src/screen.scss */
#content dt {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  font-weight: bold;
}
/* line 727, ../src/screen.scss */
#content dd {
  display: inline;
  float: left;
  width: 47.541%;
  margin-right: 1.639%;
  margin-bottom: 2.25em;
  border-bottom: 1px solid #303335;
  padding-bottom: 0.25em;
}

/*#index*/
/* line 746, ../src/screen.scss */
#footer {
  background: #000;
  border-top: 1px solid #333;
  width: 100%;
  	/*li.snippets {
  		@include columns(6);
  
  		.description {
  			display: none;
  		}
  	}*/
}
/* line 751, ../src/screen.scss */
#footer > ul {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#footer > ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 755, ../src/screen.scss */
#footer > ul > li {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  overflow: hidden;
}
/* line 759, ../src/screen.scss */
#footer > ul > li:first-child {
  margin-left: 1.639%;
}
/* line 763, ../src/screen.scss */
#footer > ul > li:last-child {
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
/* line 768, ../src/screen.scss */
#footer h5 {
  font-size: 1.313em;
  line-height: 1.143em;
  padding: 1.5em 0 0.5em 0;
  margin: 0;
}
/* line 773, ../src/screen.scss */
#footer h5 a {
  color: #f7f7f7;
}
/* line 775, ../src/screen.scss */
#footer h5 a:hover {
  border: 0;
}
/* line 779, ../src/screen.scss */
#footer li p, #footer li ul {
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 1.5em;
}
/* line 792, ../src/screen.scss */
#footer .help ul a {
  font-weight: bold;
}
/* line 796, ../src/screen.scss */
#footer p.all {
  margin-top: 0.9em;
}
/* line 798, ../src/screen.scss */
#footer p.all a {
  color: #f7f7f7;
  font-weight: bold;
}
