//** DEFAULT STYLES **//

// Based heavily on the work of:
// Andy Clarke: http://forabeautifulweb.com/
// Paul Irish & Divya Manian: http://html5boilerplate.com/
// And many others, less directly...

// Imports --------------------------------------------------------------

@import "base";
@import "susy/reset";


/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.serif {
  @include serif-family; }

.sans {
  @include sans-family; }

.mono {
  @include monospace-family; }

.caps {
  letter-spacing: 0.1em; }

.allcaps {
  @extend .caps;
  text-transform: uppercase; }

.smallcaps {
  @extend .caps;
  font-variant: small-caps; }

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */

@mixin accessible-color($background: white) {
  @if lightness($background) >= 65% {
    color: $base; }
  @else {
    color: white; } }

/* Headings -------------------------------------------------------------- */

h2, h3, h4, h5, h6 {
  @include trailer; }

h1 {
  @include adjust-font-size-to(21px);
  @include trailer(1, 21px); }

h3 {
  font-weight: bold; }

h4 {
  @extend .smallcaps;
  text-transform: lowercase; }

/* Inline -------------------------------------------------------------- */

cite, em, dfn, address, i {
  font-style: italic; }

strong, dfn, b {
  font-weight: bold; }

pre, code, tt {
  @extend .mono; }

/* Block -------------------------------------------------------------- */

p {
  @include trailer; }

pre {
  margin: $base-rhythm-unit;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

/* Forms -------------------------------------------------------------- */

/*fieldset {
  @include trailer;
  @include rhythm-borders(1px); }

legend {
  @include adjust-font-size-to(18px);
  font-weight: bold; }*/

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

label {
  font-weight: bold; }

// box-sizing helps us control the width of inputs
// which are otherwise very hard to manage in the grid.
.textinput {
  @include sans-family;
  //@include adjust-font-size-to(14px, 1, 16px);
  @include rhythm-borders(1px, 0.25, 14px);
  @include trailer(0.5);
  @include box-sizing(border-box);
  width: 100%;
  margin-top: 0;
  //border-color: $base;
  //height: $base-line-height / 14px * 1.5em;
}

textarea {
  @extend .textinput;
  //height: $base-line-height / 14px * 6.5em;
  vertical-align: text-bottom; }

input {
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color] {
    @extend .textinput; }
  // reset webkit search styles
  &[type=search] {
    -webkit-appearance: none;
    &::-webkit-search-decoration {
      display: none; } } }

button {
  width: auto;
  overflow: visible; border: 0; }
