//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";

/* Layout -------------------------------------------------------------- */

@include susy;
$background: #181b1f;
$second: #ff6400;
$second-hover: #ff7922;
$link: #8FD615;
$link-hover: rgba(143, 214, 21, 0.8);

.action {
	border-bottom: 1px dotted $second-hover;

	&:hover {
		border-bottom-color: $background;
	}
}

body {
	@extend .sans;
	background: $background;
	color: #f7f7f7;
}

a {
	&:link, &:visited, &:active {
		color: $link;
		text-decoration: none;
		border-bottom: 1px solid;
	}

	&:hover {
		border-bottom-color: $background;
	}
}

h2, h3 {
	@include adjust-font-size-to(18px);
	display: inline;
	font-weight: bold;

	& + a, & + span, & + span + a {
		@include adjust-font-size-to(12px);

		&:link, &:visited, &:active {
			@extend .action;
		}
	}
}

fieldset {
	@include adjust-font-size-to(14px);
	@include trailer;
	border: 0;

	legend {
		@include adjust-font-size-to(16px);
		text-align: center;
		font-weight: bold;
		display: block;
		width: 100%;
	}

	input[type='text'], textarea, label {
		@include adjust-font-size-to(12px, 1, 14px);
	}

	ul {
		@include horizontal-list;
		float: right;
	}

	a {
		@include adjust-font-size-to(14px);
	}
}

body > form {
	@include container;
	@include leader(1);
}

input {
	@include box-sizing(border-box);
	@include rhythm-borders(1px, 0.25, 14px);
	border-color: #555;
}

input[type='submit'] {
	@include adjust-font-size-to(14px);
	background: #222;
	color: #f7f7f7;

	&:hover {
		background: #333;
	}
}





#header {
	width: 100%;
	background: #020202;

	form {
		@include container;
			padding: $base-leader 0;

		h1 {
			@include columns(2);
			//@include prefix(1);
			margin: 0;
			@include alpha;
			font-family: 'Lobster', serif;

			span {
				@include adjust-font-size-to(12px);
			}

			a {
				color: #f7f7f7;
				border: 0;
			}
		}

		p {
			margin: 0;
		}

		p.tagline {
			@include columns(4);
			@include adjust-font-size-to(10px, 1, 12px);
			@extend .serif;
			@include alpha;
			font-style: italic;

			acronym {
				@include adjust-font-size-to(8px, 1, 10px);
				border-bottom: 1px dotted;
				font-style: normal;
				cursor: help;
			}
		}

		p.create {
			@include prefix(2);
			@include omega;

			input[type='submit'] {
				font-weight: bold;
				background: $second;

				&:hover {
					background: $second-hover;
				}
			}
		}
	}
}




#snip-info {
	@include columns(5);
	@include alpha;

	h2 {
		@include adjust-font-size-to(16px);
	}

	.description {
		@include adjust-font-size-to(14px);
	}

	.author {
		@include adjust-font-size-to(12px);
		font-style: italic;
		margin-bottom: 0;
	}

	a.process {
		@extend .action;
		float: right;
	}

	fieldset {
		margin: 0;
	}
}






#resource {
	@include columns(6);
	@include prefix(1);
	@include omega;

	p {
		display: none;
	}

	& > ul {
		@include horizontal-list;
		@include adjust-font-size-to(14px);

		li {
			padding-left: 0;
		}

		li:before {
			content: '-';
		}

		li:first-child:before,
		li:last-child:before {
			content: '';
		}
	}

	a.new {
		@extend .action;
		margin-left: $px2em * 10px;
	}
}



.message {
	@include columns(12);
	@include full;
	@include leader;
	@include adjust-font-size-to(14px);
	text-align: center;
	
}





#main {
	@include columns(12);
	@include full;
	@include leader(1);

	label {
		display: none;
	}

	pre {
		@include adjust-font-size-to(14px);
		background: #eee;
		color: #000;
		text-align: start;
		white-space: pre;
		overflow: auto;
		margin: $base-rhythm-unit 0;
		padding: 0 $base-rhythm-unit;
	}

	&.split > div {
		text-align: center;

		pre {
			height: $px2em * 16px * 24;
			margin-top: 0.75em;
		}
	}
}
