//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";

/* Layout -------------------------------------------------------------- */

@include susy;
$background: #181b1f;
$second: #ff6400;
$second-hover: #ff7922;
$link: #8FD615;
$link-hover: rgba(143, 214, 21, 0.8);

$color: #f7f7f7;

.action {
	border-bottom: 1px dotted $second-hover;

	&:hover {
		border-bottom-color: $background;
	}
}

.normalize-link {
	a {
		&:link, &:visited, &:active {
			color: $color;
			border: 0;
		}
	}
}



body {
	@extend .sans;
	background: $background;
	color: $color;
}

a {
	&:link, &:visited, &:active {
		color: $link;
		text-decoration: none;
		//border-bottom: 1px solid;
	}

	&:hover {
		//border-bottom-color: $background;
		border-bottom: 1px solid;
	}
}

h2, h3 {
	@include adjust-font-size-to(18px);
	@extend .normalize-link;
	display: inline;
	font-weight: bold;

	& + a, & + span, & + span + a {
		@include adjust-font-size-to(12px);

		&:link, &:visited, &:active {
			@extend .action;
			float: right;
		}
	}
}

fieldset {
	@include adjust-font-size-to(14px);
	@include trailer;
	border: 0;

	legend {
		@include adjust-font-size-to(16px);
		text-align: center;
		font-weight: bold;
		display: block;
		width: 100%;
	}

	input[type='text'], textarea, label {
		@include adjust-font-size-to(12px, 1, 14px);
	}

	ul {
		@include horizontal-list;
		float: right;
	}

	a {
		@include adjust-font-size-to(14px);
	}
}

body > form {
	@include container;
	@include leader(1);
}

input {
	@include box-sizing(border-box);
	@include rhythm-borders(1px, 0.25, 14px);
	border-color: #555;
}

input[type='submit'] {
	@include adjust-font-size-to(14px);
	background: #222;
	color: $color;

	&:hover {
		background: #333;
	}
}





#header {
	width: 100%;
	background: #020202;

	form {
		@include container;
		padding: $base-leader 0;

		h1 {
			@include columns(2);
			@extend .normalize-link;
			//@include prefix(1);
			margin: 0;
			@include alpha;
			font-family: 'Lobster', serif;

			span {
				@include adjust-font-size-to(12px);
			}
		}

		p {
			margin: 0;
		}

		p.tagline {
			@include columns(3);
			@include adjust-font-size-to(10px, 1, 12px);
			@extend .serif;
			@include alpha;
			font-style: italic;

			acronym {
				@include adjust-font-size-to(8px, 1, 10px);
				border-bottom: 1px dotted;
				font-style: normal;
				cursor: help;
			}
		}

		ul#nav {
			@include columns(5);
			@include adjust-font-size-to(10px, 1, 12px);
			text-align: right;

			li {
				@include full;
				@extend .normalize-link;
				display: inline;

				a:hover {
					border-bottom: 1px solid;
				}

				&.help {
					font-weight: bold;
				}
			}
		}

		p.create {
			@include columns(2);
			@include omega;
			text-align: right;

			input[type='submit'] {
				@include border-radius(5px);
				font-weight: bold;
				background: $second;

				&:hover {
					background: $second-hover;
				}
			}
		}
	}
}




#snip-info {
	@include columns(5);
	@include alpha;

	h2 {
		@include adjust-font-size-to(16px);
	}

	.description {
		@include adjust-font-size-to(12px);
		@include trailer(0.5);
	}

	.author {
		@include adjust-font-size-to(12px);
		@include border-radius(5px);
		//font-style: italic;
		margin-bottom: 0;
		padding: 5px;
		background: #272c32;
	}

	a.process {
		@extend .action;
		float: right;
	}

	fieldset {
		margin: 0;
	}
}






#resource {
	@include columns(6);
	@include prefix(1);
	@include omega;

	p {
		display: none;
	}

	& > ul {
		@include horizontal-list;
		@include adjust-font-size-to(14px);

		li {
			padding-left: 0;
		}

		li:before {
			content: '-';
		}

		li:first-child:before,
		li:last-child:before {
			content: '';
		}

		li:last-child {
			margin-left: $px2em * 10px;
		}
	}

	a.new {
		@extend .action;
	}
}







.message {
	@include columns(12);
	@include full;
	@include leader;
	@include adjust-font-size-to(14px);
	text-align: center;
	
}














#main {
	@include columns(12);
	@include full;
	@include leader(1);

	label {
		display: none;
	}

	pre {
		@include adjust-font-size-to(14px);
		background: #eee;
		color: #000;
		text-align: start;
		white-space: pre;
		overflow: auto;
		margin: $base-rhythm-unit 0;
		padding: 0 $base-rhythm-unit;
	}

	&.split > div {
		text-align: center;

		pre {
			height: $px2em * 16px * 24;
			margin-top: 0.75em;
		}
	}
}
