//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";

/* Layout -------------------------------------------------------------- */

@include susy;

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
.container {
  @include container;
  @include show-grid("http://sdev/test/assets/images/grid.png"); }
  
.panel {
	background: #333;
	color: #fff;
	
	div:first-child {
		padding: 5px;
		margin: 0;
	}

	label {
		@include adjust-font-size-to(14px);
	}

	input, textarea {
		@include adjust-font-size-to(12px);
		background: #000;
		color: #fff;
	}

	textarea {
		height: $base-line-height / 14px * 3.3em;
	}

	input[type='submit'] {
		@include prefix(2, 3);
		@include columns(1, 3);
		@include rhythm-borders(1px, 0.25, 14px);
		border-color: $base;
		
		&:hover {
			background: #222;
		}
	}


	h3 {
		@include leader(1, $base-line-height);
		/* @include trailer(3, $base-line-height); */
		text-align: center;
	}

	div.description {
		
	}
}

.vertical-centered {
	@include leader(1, 16px);
}

.black-box {
	background: #000;
	display: block;
	width: 100%;
	padding: $px2em * 6px;
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */

body {
	background: #181b1f;
}

#header {
	@extend .container;
	@include sans-family;
	@include leader(1, 21px);
	@include trailer(1, 21px);

	h1 {
		@include columns(1);
		@include alpha;
		@include monospace-family;
		@extend .vertical-centered;
		color: #fff;
	}

	#information {
		@include columns(6);
		@extend .panel;

		label {
			@include columns(3, 6);
			
			&:last-child {
				margin-right: 0;
			}
		}
	}

	#current-resource {
		@include columns(3);
		@extend .panel;
	}

	#resources {
		@include columns(2);
		@include omega;
		@include leader(1, $base-line-height);
		position: relative;
		color: #fff;

		ul {
			@extend .black-box;
			
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			margin-top: $px2em * $base-line-height;
			margin-left: 0;
			width: $px2em * 120px;


			a {
				color: white;
				text-decoration: none;
			}

			li {
				@include adjust-font-size-to(12px);
				padding-left: $px2em * 30px - 0.375em;

				&:hover {
					background: #333;
				}

				&.current {
					background: #8c3130;
				}

				&.main {
					font-weight: bold;
				}
			}
		}

		span {
			@extend .black-box;
			padding-left: $px2em * 25px;
			background: url('../images/drop-down.png') no-repeat left #000;
			cursor: pointer;
			width: $px2em * 101px; /* wtf */
		}

		span:hover + ul,
		ul:hover {
			display: block;
		}
	}

	#actions {

		@include columns(2);
		@include omega;
		@include leader(1, $base-line-height);

		ul {
			@include horizontal-list;
		}

		input[type='submit'] {
			@include rhythm-borders(1px, 0.25, 14px);
			background: #000;
			border-color: $base;
			color: #fff;
		
			&:hover {
				background: #222;
			}
		}

		a.process {
			@include rhythm-borders(1px, 0.25, 14px);
			border-color: $base;
			background: #8c3130;
			color: #fff;
			text-decoration: none;
		
			&:hover {
				background: #222;
			}
		}
	}

	ul {
		@include no-bullets;
	}
}

#main {
	textarea {
		height: 25em;
	}
	
	&.split div {
		width: 50%;
		float: left;

		a {
			text-align: center;
		}
	}

	pre {
		white-space: pre;
		background: #fff;
		color: #000;
		padding: $px2em * 16px;
	}
}
